<div class="card">
    <div class="card-body">
        <h2 class="card-title">A PROPOS DE NOUS</h2>
        <h2 class="card-subtitle text-muted text-center">Projet de recherche optimisée d'hôtel et de gestion en ligne</h2>
        <div class="my-4">
            <div>
                Ce Projet a été réalisé dans le cadre de MYABEHACKATON par le groupe "OJI DEV" et associés qui est composé de 4 membres dont 
                <p>-Oliver</p>
                <p>-Irène</p>
                <p>-Julio</p>
                <p>-Ismaël</p>
                <p>Passionné de la technologie, nous nous somme engagés à participer à MYABEHACKATON où notre mission est de fournir une solution des recherche optimisée de gestion d'hôtel, une application mobile pour servir les utilisateur puis une interface web d'administration afin de permet au gestionnires et administrateurs de configurer les ressources aux clients.
                </p>
            </div>
        </div>        
    </div>
</div>