#registerForm{
    min-height: 22em;
    background-color: rgb(24, 161, 171);
    border: 2 solid cadetblue;
    padding: 10px 30px;
    color:white;
    border-radius: 1rem;
}
#tologin{
    color: black;
}
#tologin:hover{
    color: blue;
}